@import "../../scss/reset.css";

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-Regular.ttf");
}

.container__item {
  display: grid;
  align-content: space-between;

  background: white;
  font-family: "Raleway";
  font-weight: 500;
  border-radius: 5px;
  grid-auto-flow: dense;

  .item__header {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 10px;
    .item__header-buttons {
      justify-content: end;
      display: grid;
      grid-template-columns: 28px 28px;
      column-gap: 8px;

      .item__button {
        border-color: #dedbdb;

        .button-stats {
          stroke: #dedbdb;

          &:hover {
            cursor: pointer;
            stroke: #f4a460;
          }
        }

        .button-stats--active {
          stroke: #f4a460;

          &:hover {
            cursor: pointer;
          }
        }

        .button-heart {
          stroke: #dedbdb;

          &:hover {
            stroke: red;
            cursor: pointer;
          }
        }

        .button-heart--active {
          fill: #eb5757;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .container__image {
    display: grid;
    justify-items: center;
    align-content: center;
    max-width: 290px;
    max-height: 184px;
    .container__image-item {
      max-width: 212px;
      max-height: 184px;
    }
  }

  .item__step {
    display: flex;
    justify-items: space-between;
    grid-template-columns: 4 10px;
    column-gap: 5px;
    /* padding: 5px; */
    align-content: space-around;
    justify-content: center;
    .item__step-img {
      fill: #dedbdb;
    }
  }

  .item__title {
    display: grid;
    font-weight: 700;
    font-size: 16px;
    padding: 6px;
    justify-content: start;
    align-content: center;
    align-self: stretch;
  }

  .item__buy {
    display: grid;
    align-items: center;
    grid-template-columns: 2fr 2fr 2fr;
    font-weight: 600;

    .item__price {
      display: grid;
      justify-content: center;
      grid-template-columns: 45px 45px;

      font-size: 16px;

      .item__price-old {
        font-size: 16px;
        text-decoration: line-through;
        color: #dedbdb;
      }
    }

    .item__exist {
      display: grid;
      grid-template-columns: 2 100px;
      grid-template-columns: 10px 60px;
      align-items: baseline;
      column-gap: 10px;
      justify-self: flex-end;
      font-size: 12px;
      font-weight: 400;

      .item__exist-icon {
        // max-width: 16px;
        //max-height: 16px;
        stroke: #126935;
      }
      .item__exist-text {
        color: #126935;
        text-transform: lowercase;
      }
    }

    .item__cart {
      display: grid;
      padding: 7px 12px;
      border: 2px solid #f05a00;
      border-radius: 5px 0px;
      justify-self: self-end;
      // padding: 6px 10px;

      .item__cart-icon {
        stroke: #f05a00;
      }
    }
  }
}
