@import "../../scss/reset.css";

@font-face {
  font-family: "Raleway";
  src: url("../../fonts/Raleway/Raleway-Regular.ttf");
}

header {
  .header__upper {
    display: flex;
    background-color: #212526;

    .header__upper_content {
      display: flex;
      justify-content: center;
      padding-right: 110px;
      padding-left: 110px;

      .header__logo {
        cursor: pointer;
        margin: 20px 80px;
      }

      .header__info {
        display: flex;

        .info__time {
          font-family: "Raleway";
          font-style: normal;
          font-weight: 500;
          color: white;
          margin: 38px 50px;
        }

        .info__contacts {
          margin-top: 25px;
          margin-right: 40px;
          font-family: "Raleway";

          .info__contacts_number {
            font-weight: 600;
            color: white;
            cursor: pointer;
          }

          .info__contacts_makeCall {
            margin-top: 10px;
            font-weight: 500;
            color: #fc573b;
            text-decoration: underline;
            cursor: pointer;
          }
        }

        .info__buttons {
          display: grid;
          grid-template-columns: 96px 96px 96px 96px;
          column-gap: 1px;
          .info__buttons_button {
            display: flex;
            background-color: #3b3b3b;
            padding: 32px 30px;
            stroke: #ffffff;

            &:hover {
              background: #f05a00;
            }
          }
        }

        .info__sum {
          font-family: "Raleway";
          margin: 25px 10px;
          color: white;
          .info__sum-title {
            font-weight: 500;
          }

          .info__sum_summary {
            margin-top: 4px;
            font-weight: 700;
          }
        }
      }
    }
  }

  .header__lower {
    display: flex;
    background-color: black;
    padding-right: 110px;
    padding-left: 110px;
    font-family: 'Raleway';
    font-weight: 500;

    .header__catalog {
      color: white;
      margin: 20px 30px 20px 80px;
      border: 1px solid #f05a00;
      border-radius: 5px;
      padding: 15px;

      .header__catalog_text {
        margin-left: 15px;
      }
    }

    .header__menu {
      display: flex;
      color: white;
      margin-top: 35px;

      .header__menu_item {
        margin-left: 17px;
        margin-right: 17px;
      }
    }

    .header__links {
      display: flex;
      color: white;
      margin: 26px 60px 26px 10px;

      .header__links_item {
        margin-left: 10px;
      }
    }
    .header__search {
      display: flex;
      background: #ffffff;
      border-radius: 5px;
      margin-top: 20px;
      margin-bottom: 20px;

      .header__search_ic {
        margin: 14px 10px 14px 20px;
      }

      .header__search_input {
        margin-right: 60px;
      }
    }
  }
}